#module-checker-main .row {
	margin-bottom: 10px;
}

#module-checker-main .row .project-check {
	font-size: 1.5em;
}

#module-checker-main .row .mod-checking {
	background: transparent url('images/loading.gif') no-repeat right 50%;
	padding-right: 20px;
	text-decoration: underline;
	color: #f00;
	font-size: 1.5em;
}

#module-checker-main .row .level-bug-fix {
	background: transparent url('images/bugfix.png') no-repeat right 50%;
	padding-right: 22px;
}

#module-checker-main .row .level-security-update {
	background: transparent url('images/security.png') no-repeat right 50%;
	padding-right: 22px;
}

#module-checker-main .row .level-new-features {
	background: transparent url('images/new.png') no-repeat right 50%;
	padding-right: 22px;
}